<p-panel header="Citas">
  <ng-template pTemplate="icons">
    <button pButton (click)="displayAppntForm = true">
      <span class="pi pi-plus"></span>
    </button>
  </ng-template>
  <p-table [value]="(appnts | async)!" [paginator]="true" [rows]="7">
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="date">
          Fecha <p-sortIcon field="date"></p-sortIcon>
        </th>
        <th pSortableColumn="hour">
          Hora <p-sortIcon field="hour"></p-sortIcon>
        </th>
        <th pSortableColumn="pName">
          Paciente <p-sortIcon field="pName"></p-sortIcon>
        </th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-a>
      <tr>
        <td>{{ a.date | date : 'dd/MM' }}</td>
        <td>{{ a.date | date : 'HH:mm' }}</td>
        <td>{{ a.patientId | patients | async}}</td>
        <td>
          <button pButton type="button" icon="pi pi-pencil" class="p-button-rounded"
            (click)="updateAppntStep1(a.appntId)"></button>
        </td>
        <td>
          <button pButton type="button" icon="pi pi-trash" class="p-button-rounded"
            (click)="appntService.deleteAppnt(a.appntId)"></button>
        </td>
      </tr>
    </ng-template>
  </p-table>

  <!-- Form dialog-->
  <p-dialog [(visible)]="displayAppntForm" [style]="{ width: '40vw' }">
    <ng-template pTemplate="header"> Cita </ng-template>

    <form [formGroup]="appntForm" (ngSubmit)="formSubmit()">
      <div class="card">
        <div class="field">
          <label for="hour">Fecha y Hora: </label>
          <input pInputText id="hour" formControlName="date" type="datetime-local" class="inputfield w-full" />
        </div>

        <div class="field">
          <label for="pName">Paciente: </label>
          <!-- <input pInputText id="pName" formControlName="pName" type="text" class="inputfield w-full" /> -->
          <p-dropdown [options]="patientsItem" formControlName="patientId" [virtualScroll]="true"></p-dropdown>
        </div>
      </div>

      <p-footer>
        <p-button type="submit" styleClass="p-button-success" [label]="formButtonText"></p-button>
        <p-button (click)="displayAppntForm = false" label="Cancel" styleClass="p-button-danger"></p-button>
      </p-footer>
    </form>
  </p-dialog>

  <!-- Delete confirmation dialog -->

  <p-dialog [(visible)]="displayConfirmDelete">
    <div class="card">
      Vas a borrar esta cita, ¿quieres continuar?
      <b>{{ descriptionForDeletion }}</b>?
    </div>

    <p-footer>
      <p-button (click)="deleteAppnt()" label="Yes"> </p-button>
      <p-button (click)="displayConfirmDelete = false" label="No"> </p-button>
    </p-footer>
  </p-dialog>
</p-panel>
