<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Citas</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/appntform" >
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let a of appnts | async">
      <ion-label>{{ a.date | date : 'dd/MM'}}</ion-label>
      <ion-label>{{ a.date | date : 'HH:mm'}}</ion-label>
      <ion-label>{{ a.patientId }}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>

