<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-button (click)="openMenu()">
      <ion-icon name="menu-outline"></ion-icon>
    </ion-button>
    <ion-title> Clinica Nilo </ion-title>
    <ion-button href="/login">
      <ion-icon name="log-out-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <ion-title size="large">Escritorio</ion-title>
    <strong>Mis próximas citas</strong>
    <p>
      Start with Ionic
      <a
        target="_blank"
        rel="noopener noreferrer"
        href="https://ionicframework.com/docs/components"
        >UI Components</a
      >
    </p>
  </div>
</ion-content>
