<ion-header [translucent]="true">
  <app-topnav></app-topnav>
</ion-header>

<app-menu></app-menu>

<ion-content [fullscreen]="true">
  <div id="container">
    <div class="top">
      <ion-item lines="none">
        <ion-avatar slot="start">
          <img
            src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y"
          />
        </ion-avatar>
        <ion-label>
          <h3>Mi nombre</h3>
          <p>@miusuario</p>
          <!-- se podrían añadir contadores de total de citas, o total pagado... -->
        </ion-label>
      </ion-item>
    </div>

    <ion-card id="nextAppnt">
      <ion-header>
        <ion-toolbar>
          <ion-title>Mis próximas citas</ion-title>
        </ion-toolbar>
      </ion-header>
      <!-- Mostrar sólo las dos primeras citas disponibles -->
      <ion-list *ngFor="let appnt of appointments | async">
        <ion-item>
          <ion-label class="item">{{ appnt.date }}</ion-label>
          <ion-label class="item">{{ appnt.hour }}</ion-label>
        </ion-item>
      </ion-list>

      <!-- Se prodrían añadir los especialistas más visitados -->
    </ion-card>

    <ion-button (click)="addAppnt()" shape="round">
      Pedir cita
    </ion-button>
  </div>
</ion-content>

<ion-tab-bar slot="bottom">
  <ion-tab-button tab="calendar" routerLink="/appnt-list">
    <ion-label>Citas</ion-label>
    <ion-icon name="calendar"></ion-icon>
  </ion-tab-button>
  <ion-tab-button tab="home" routerLink="/">
    <ion-label>Inicio</ion-label>
    <ion-icon name="home"></ion-icon>
  </ion-tab-button>
  <!-- <ion-tab-button tab="chat" routerLink="/contact">
    <ion-label>Mensajes</ion-label>
    <ion-badge color="danger">2</ion-badge>
    <ion-icon name="chatbubbles-outline"></ion-icon>
  </ion-tab-button> -->
</ion-tab-bar>
