<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="welcome"></ion-back-button>
    </ion-buttons>
    <ion-title>{{title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ion-text-center">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-icon name="person-circle-outline" class="person"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-label>Correo electrónico</ion-label>
        <ion-input clearInput class="text" [(ngModel)]="email">
        </ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-label>Contraseña</ion-label>
        <ion-input clearInput class="text" type="password" [(ngModel)]="password">
        </ion-input>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-button expand="block" class="text capitalize" color="success" shape="round" (click)="login()">
    Aceptar
  </ion-button>
  <a class="text" href="/logup">
    <ion-icon name="person-add"></ion-icon>
    Crear una cuenta
  </a>
  <br>
  <a class="text" href="/forgot">
    <ion-icon name="mail"></ion-icon>
    Recuperar contraseña
  </a>
</ion-content>
