<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="login"></ion-back-button>
    </ion-buttons>
    <ion-title>{{title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-icon name="key" class="key"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <p class="ion-text-left">
          Se le enviará un correo electrónico a la dirección que nos indique
          para recuperar la contraseña.
        </p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-label class="ion-text-center">Correo electrónico</ion-label>
        <ion-input clearInput class="text" [(ngModel)]="email">
        </ion-input>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- <ion-button expand="block" class="text capitalize" color="success" shape="round" (click)="resetPassword()">
    Aceptar
  </ion-button> -->
  <ion-button expand="block" class="text capitalize" color="danger" shape="round" href="/login">
    Cancelar
  </ion-button>
</ion-content>
