<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>{{title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

      <ion-card id="profile">
        <ion-list>
          <!-- <ion-item>
            <ion-input class="item" >{{ u.uName }}</ion-input>
            <ion-input class="item" >{{ u.uLastN }}</ion-input>
            <ion-input class="item" >{{ u.uDNI }}</ion-input>
            <ion-input class="item" >{{ u.uBDate }}</ion-input>
            <ion-input class="item" >{{ u.uTlfn }}</ion-input>
            <ion-input class="item" >{{ u.uAddr }}</ion-input>
            <ion-input class="item" >{{ u.uEmail }}</ion-input>
          </ion-item> -->
        </ion-list>
      </ion-card>

</ion-content>
