<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>{{title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

      <ion-card id="profile">
        <ion-list>
          <ion-item>
            <ion-input class="item" clearInput [(ngModel)]="patient.pName"></ion-input>
            <ion-input class="item" clearInput [(ngModel)]="patient.pLastN"></ion-input>
            <ion-input class="item" clearInput [(ngModel)]="patient.pDNI"></ion-input>
            <ion-input class="item" clearInput [(ngModel)]="patient.pBDate"></ion-input>
            <ion-input class="item" clearInput [(ngModel)]="patient.pTlfn"></ion-input>
            <ion-input class="item" clearInput [(ngModel)]="patient.pAddr"></ion-input>
            <ion-input class="item" clearInput [(ngModel)]="patient.pEmail"></ion-input>
          </ion-item>
        </ion-list>
      </ion-card>

</ion-content>
