<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>{{title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>Especialista</ion-label>
      <ion-select placeholder="Selecciona especialista" >
        <ion-select-option *ngFor="let d of doctors | async" value="d.dName">{{d.dName}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Especialista</ion-label>
      <ion-select placeholder="Selecciona cita">
        <ion-select-option *ngFor="let appnt of appointments | async">{{appnt.date}}  {{appnt.hour}}</ion-select-option>
        <!-- Hay que poner aquí que cuando marque la cita, recoja el id -->
      </ion-select>
    </ion-item>
  </ion-list>
  <ion-button expand="full" (click)="updateAppnt()">
    Guardar
  </ion-button>
</ion-content>
