<p-card header="Perfil" [style]="{width: '100%'}" styleClass="p-card-shadow">
  <form [formGroup]="doctorForm" (ngSubmit)="updateDoctor()">
    <div>
      <div>
        <label for="dName">Nombre: </label>
        <input pInputText id="dName" type="text" formControlName="dName" class="inputfield w-full" />
      </div>

      <div>
        <label for="dLastN">Apellidos: </label>
        <input pInputText id="dLastN" type="text" formControlName="dLastN" class="inputfield w-full" />
      </div>

      <div>
        <label for="dGraduate">Nº de Colegiado: </label>
        <input pInputText id="dGraduate" type="text" formControlName="dGraduate" class="inputfield w-full" />
      </div>

      <div>
        <label for="dTlfn">Teléfono: </label>
        <input pInputText id="dTlfn" formControlName="dTlfn" type="text" class="inputfield w-full" />
      </div>

      <div>
        <label for="dEmail">Email: </label>
        <input pInputText id="dEmail" clearInput formControlName="dEmail" type="text" class="inputfield w-full" />
      </div>
    </div>

    <p-footer>
      <p-button type="submit" styleClass="p-button-success" label="Guardar cambios"></p-button>
    </p-footer>
  </form>
</p-card>
