<ion-menu side="start" menuId="first" contentId="main">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Menú</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <!-- <ion-item routerLink="/profile">Mi perfil</ion-item> -->
      <ion-item routerLink="/appnt-list">Citas</ion-item>
      <!-- <ion-item>Menu Item</ion-item>
      <ion-item>Menu Item</ion-item> -->
      <ion-item routerLink="/login">Cerrar sesión</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-router-outlet id="main"></ion-router-outlet>
